/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
html,
body {
  height: 100%;
}
body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
  margin: 0;
}
